* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0px;
}

body {
    /* margin and padding*/
    padding: 0px;
    margin: 0px;
    margin-top: 6em;
    /* text-font*/
    font-family: 'Kanit', sans-serif;
    /* Content size*/
    /* background setting*/
    background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/dirt-road_D8UQGIR4OF.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h2 {
    padding: 1px;
    overflow: auto;
    box-sizing: content-box;
    /* text setting*/
    text-align: center;
    text-shadow: 4px 4px 7px green;
    vertical-align: baseline;
    /* element's size setting*/
    margin: 10px;
    /* border setting*/
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-left-width: 6px;
    border-top-width: 6px;
}

h2:hover {
    /* Border changing*/
    box-shadow: 5px 4px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    /* Background color*/
    background-color: aquamarine;
}

h2:active {
    border-top-width: 3px;
    border-left-width: 3px;
    border-bottom-width: 1px;
    border-right-width: 1px;
}

span {
    vertical-align: sub;
}

p {
    font-style: italic;
    text-decoration-line: overline;
    text-decoration-color: blue;
}

.content {
    /* make body's content middle and center*/
    margin: auto;
    max-width: 70%;
    /* text's decoration*/
    color: black;
    background-color: white;
    box-shadow: 5px 0px;
    /* Margin and padding*/
    padding-top: 10px;
    margin-top: 10px;
    /* Add scroll*/
}

.headd {
    z-index: 1;
    /* Margin and padding*/
    margin: 0;
    width: 100%;
    text-align: left;
    background-color: papayawhip;
    height: 10vh;
    /* Over flow case*/
    overflow: hidden;
}

.tofix {
    position: fixed;
    top: 0px;
    width: 100%;
}

.headd-link {
    text-decoration: none;
    /* text*/
    font-size: 1.4em;
    font-weight: 900;
    background-color: inherit;
    vertical-align: middle;
    /* Margin and padding*/
    margin: 0em;
    padding: 0.5em;
    /* Display*/
    display: inline-flex;
}

.headd-link:hover {
    box-shadow: 5px 5px 22px purple, 1px 1px 5px orangered;
}

.headd-link:active {
    background-color: gray;
    color: brown;
}

.logo {
    position: relative;
    left: 10px;
    text-transform: uppercase;
    color: gray;
    float: left;
    height: inherit;
    width: inherit;
}

.menu {
    float: right;
}

table {
    overflow-y: scroll;
    overflow-x: auto;
    position: fixed;
    bottom: 0px;
    right: 5px;
}

.header-layout {
    /* Margin*/
    margin: auto;
    max-width: 70%;
    height: 10vh;
}

a {
    text-decoration: none;
}

a:active {
    color: gray;
}

.box-name {
    background-color: aqua;
    display: flex;
    overflow: auto;
}

.sub-image {
    height: 100px;
    float: left;
    position: relative;
    left: 3%;
}

.sub-image-a {
    text-align: center;
    background-color: slateblue;
    color: white;
    border-radius: 50%;
    height: 7vw;
    width: 7vw;
    position: fixed;
    right: 5vw;
    bottom: 5vw;
    /**/
    box-shadow: 5px 5px 10px purple;
}

.sub-image-a:hover {
    box-sizing: content-box;
    border-bottom-width: 3px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 3px;
    border-style: solid;
    border-color: purple;
}

.sub-image-a:active {
    box-sizing: border-box;
    border-style: solid;
    outline-style: solid;
    outline-width: 5px;
    outline-color: #6a5acd6b;
    border-top-width: 5px;
    border-left-width: 5px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}
